/* ┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │   ██████╗ ███████╗███╗   ██╗████████╗██╗     ███████╗    ██████╗ ██╗   ██╗██████╗ ██████╗ ███████╗████████╗  │ */
/* │  ██╔════╝ ██╔════╝████╗  ██║╚══██╔══╝██║     ██╔════╝    ██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔════╝╚══██╔══╝  │ */
/* │  ██║  ███╗█████╗  ██╔██╗ ██║   ██║   ██║     █████╗      ██████╔╝██║   ██║██████╔╝██████╔╝█████╗     ██║     │ */
/* │  ██║   ██║██╔══╝  ██║╚██╗██║   ██║   ██║     ██╔══╝      ██╔═══╝ ██║   ██║██╔═══╝ ██╔═══╝ ██╔══╝     ██║     │ */
/* │  ╚██████╔╝███████╗██║ ╚████║   ██║   ███████╗███████╗    ██║     ╚██████╔╝██║     ██║     ███████╗   ██║     │ */
/* │   ╚═════╝ ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚══════╝    ╚═╝      ╚═════╝ ╚═╝     ╚═╝     ╚══════╝   ╚═╝     │ */
/* └──────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */

/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │   ██████╗ ██████╗ ██╗      ██████╗ ██████╗     ███████╗██╗   ██╗██████╗ ██████╗  ██████╗ ██████╗ ████████╗  │ */
/* │  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗    ██╔════╝██║   ██║██╔══██╗██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝  │ */
/* │  ██║     ██║   ██║██║     ██║   ██║██████╔╝    ███████╗██║   ██║██████╔╝██████╔╝██║   ██║██████╔╝   ██║     │ */
/* │  ██║     ██║   ██║██║     ██║   ██║██╔══██╗    ╚════██║██║   ██║██╔═══╝ ██╔═══╝ ██║   ██║██╔══██╗   ██║     │ */
/* │  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║    ███████║╚██████╔╝██║     ██║     ╚██████╔╝██║  ██║   ██║     │ */
/* │   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝    ╚══════╝ ╚═════╝ ╚═╝     ╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝     │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
.theme-dark {
	--mention-foreground: var(--mention-text) !important;
	--mention-background: var(--mention-text-highlight) !important;
	--header-primary: var(--white-text) !important;
	--header-secondary: var(--grey-text) !important;
	--embed-title: var(--white-text) !important;
	--text-default: var(--white-text) !important;
	--text-normal: var(--white-text) !important;
	--text-secondary: var(--white-text) !important;
	--text-muted: var(--muted-text) !important;
	--text-link: var(--linked-text) !important;
	--channels-default: var(--grey-text) !important;
	--interactive-hover: var(--white-text) !important;
	--interactive-muted: var(--muted-text) !important;
	--modal-background: var(--background-messages) !important;
	--modal-footer-background: var(--background-servers) !important;
	--primary-130: var(--background-messages) !important;
	--primary-600: var(--background-servers) !important;
	--primary-630: var(--background-servers) !important;
	--primary-660: var(--background-messages) !important;
	--primary-800: var(--background-servers) !important;
	--background-primary: var(--background-messages) !important;
	--background-secondary: var(--background-servers) !important;
	--background-secondary-alt: var(--background-servers) !important;
	--background-tertiary: var(--background-servers) !important;
	--background-accent: var(--background-servers) !important;
	--background-floating: var(--background-servers) !important;
	--background-mobile-primary: var(--background-members) !important;
	--background-mobile-header: var(--background-servers) !important;
	--background-modifier-hover: var(--background-hover) !important;
	--background-modifier-active: var(--background-hover) !important;
	--background-modifier-selected: var(--background-hover) !important;
	--background-modifier-accent: var(--background-hover) !important;
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05) !important;
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24) !important;
	--logo-primary: var(--white-text) !important;
	--guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) !important;
	--channeltextarea-background: var(--background-textentry) !important;
	--activity-card-background: var(--background-members) !important;
	--deprecated-panel-background: var(--background-user) !important;
	--deprecated-card-bg: var(--background-user) !important;
	--deprecated-card-editable-bg: var(--background-members) !important;
	--deprecated-store-bg: var(--background-members) !important;
	--deprecated-quickswitcher-input-background: var(--background-textentry) !important;
	--deprecated-quickswitcher-input-placeholder: var(--background-textentry) !important;
	--deprecated-text-input-bg: var(--background-textentry) !important;
	--deprecated-text-input-border: var(--background-textentry) !important;
	--deprecated-text-input-border-hover: var(--background-textentry) !important;
	--deprecated-text-input-border-disabled: #202225 !important;
	--deprecated-text-input-prefix: #dcddde !important;
	--background-mentioned: var(--background-mentioned-highlight) !important;
	--background-mentioned-hover: var(--background-members) !important;
	--background-message-hover: var(--background-hover) !important;
	--interactive-background-selected: var(--background-textentry) !important;
	--interactive-text-active: var(--unread-text) !important;
	--elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15) !important;
	--textbox-markdown-syntax: var(--grey-text) !important;
	--scrollbar-thin-thumb: var(--background-textentry) !important;
	--scrollbar-thin-track: transparent !important;
	--scrollbar-auto-thumb: var(--background-textentry) !important;
	--scrollbar-auto-track: transparent !important;
	--scrollbar-auto-scrollbar-color-thumb: var(--background-textentry) !important;
	--scrollbar-auto-scrollbar-color-track: var(--background-textentry) !important;
	--interactive-normal: var(--grey-text) !important;
	--interactive-active: var(--unread-text) !important;
	--search-popout-option-fade: var(--background-floating) !important;
	--search-popout-option-fade-hover: var(--background-modifier-hover) !important;
	--border-subtle: var(--background-subtle-border) !important;
	--app-border-frame: var(--background-subtle-border) !important;
	--message-background-hover: var(--background-hover) !important;

	--background-base-low: var(--background-user) !important;
	--background-base-lower: var(--background-messages) !important;
	--background-base-lowest: var(--background-members) !important;
	--background-surface-higher: var(--background-servers) !important;
	--background-surface-highest: var(--background-servers) !important;
	--background-surface-high: var(--background-members) !important;
	--background-code: var(--background-inline-code) !important;
	--custom-channel-members-bg: var(--background-members) !important;
	--chat-background-default: var(--background-chat-entry) !important;
	--bg-base-tertiary: var(--background-servers) !important;
	--user-profile-overlay-background: var(--background-user) !important;
	--autocomplete-bg: var(--background-members) !important;
}

[class*="container"] {
	--__header-bar-background: var(--background-servers) !important;
}
