/*   ____            _   _        ____                         _   
//  / ___| ___ _ __ | |_| | ___  |  _ \ _   _ _ __  _ __   ___| |_ 
// | |  _ / _ \ '_ \| __| |/ _ \ | |_) | | | | '_ \| '_ \ / _ \ __|
// | |_| |  __/ | | | |_| |  __/ |  __/| |_| | |_) | |_) |  __/ |_ 
//  \____|\___|_| |_|\__|_|\___| |_|    \__,_| .__/| .__/ \___|\__|
//                                           |_|   |_|             
*/


/* ┌─────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │   █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗███████╗██████╗                       │ */
/* │  ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██╔══██╗                      │ */
/* │  ███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   █████╗  ██║  ██║                      │ */
/* │  ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██╔══╝  ██║  ██║                      │ */
/* │  ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ███████╗██████╔╝                      │ */
/* │  ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═════╝                       │ */
/* │                                                                                         │ */
/* │  ██████╗  █████╗  ██████╗██╗  ██╗ ██████╗ ██████╗  ██████╗ ██╗   ██╗███╗   ██╗██████╗   │ */
/* │  ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝██╔════╝ ██╔══██╗██╔═══██╗██║   ██║████╗  ██║██╔══██╗  │ */
/* │  ██████╔╝███████║██║     █████╔╝ ██║  ███╗██████╔╝██║   ██║██║   ██║██╔██╗ ██║██║  ██║  │ */
/* │  ██╔══██╗██╔══██║██║     ██╔═██╗ ██║   ██║██╔══██╗██║   ██║██║   ██║██║╚██╗██║██║  ██║  │ */
/* │  ██████╔╝██║  ██║╚██████╗██║  ██╗╚██████╔╝██║  ██║╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝  │ */
/* │  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝   │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────┘ */
/* --- Chat --- *
[class*="chat"]>[class*="content"] {
	background-image: url(https://images.steamusercontent.com/ugc/2438013375536940927/D370DBF7BFC83ED36F783F08A598FFF3E71A1D61/) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

[class*="chatContent"] {
	backdrop-filter: blur(5px) !important;
	background: color-mix(in srgb, transparent 10%, var(--background-base-lower) 100%) !important;
}

/* --- Members --- *
[class*="chat"]>[class*="content"]>[class*="container"] {
	background: url(https://i.pinimg.com/originals/ba/b6/08/bab6083d2b470bf80d99ac49c2b331a5.gif) !important;
	background-size: cover, cover !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: -500px !important;
	border: 0px solid !important;
}

[class*="chat"]>[class*="content"]>[class*="container"]>[class*="membersWrap"] {
	backdrop-filter: blur(5px) saturate(0.1) !important;
	background: color-mix(in srgb, transparent 10%, var(--background-base-lowest) 100%) !important;
}

/* --- Channels --- *
[class*="sidebarList"] {
	background: url(https://i.pinimg.com/originals/ba/b6/08/bab6083d2b470bf80d99ac49c2b331a5.gif) !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position-x: -215px !important;
	border: 0px solid !important;
}

[class*="sidebarList"]>[class*="container"],
[class*="sidebarList"]>[class*="privateChannels"] {
	backdrop-filter: blur(5px) saturate(0.1) !important;
	background: color-mix(in srgb, transparent 10%, var(--background-base-lowest) 100%) !important;
}

[class*="member"],
[class*="privateChannels"]>[class*="scroller"] {
	background: transparent !important
}

/* --- Servers --- *
[aria-label="Servers sidebar"] {
	background: url(https://i.pinimg.com/originals/96/87/43/9687433a795b6b8f18724a3800fb0544.gif) !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	border: 0px solid !important;
}

[aria-label="Servers sidebar"]>ul {
	backdrop-filter: blur(5px) saturate(0.5) !important;
	background: color-mix(in srgb, transparent 50%, var(--background-surface-higher) 100%) !important;
}

/* ---------------------------------------------- */

/* -- Remove nitro profile dectorations -- *
[class*="avatarDecoration"], 
[class*="profileEffects"], 
[class*="nameplated"] > [class*="container"],
[class*="clanTag"]
{display:none !important}
*/
/* -- Remove Activity Cards -- *
[class*="membersGroup"]:has([class*="headerContainer"])
{
    display:none !important;
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗██████╗ ██╗███████╗███╗   ██╗██████╗ ███████╗    ██╗     ██╗███████╗████████╗  │ */
/* │  ██╔════╝██╔══██╗██║██╔════╝████╗  ██║██╔══██╗██╔════╝    ██║     ██║██╔════╝╚══██╔══╝  │ */
/* │  █████╗  ██████╔╝██║█████╗  ██╔██╗ ██║██║  ██║███████╗    ██║     ██║███████╗   ██║     │ */
/* │  ██╔══╝  ██╔══██╗██║██╔══╝  ██║╚██╗██║██║  ██║╚════██║    ██║     ██║╚════██║   ██║     │ */
/* │  ██║     ██║  ██║██║███████╗██║ ╚████║██████╔╝███████║    ███████╗██║███████║   ██║     │ */
/* │  ╚═╝     ╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═══╝╚═════╝ ╚══════╝    ╚══════╝╚═╝╚══════╝   ╚═╝     │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="peopleListItem"] {
	height: 50px !important
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗██████╗ ██╗███████╗███╗   ██╗██████╗ ███████╗    ██████╗  ██████╗ ██████╗  ██████╗ ██╗   ██╗████████╗  │ */
/* │  ██╔════╝██╔══██╗██║██╔════╝████╗  ██║██╔══██╗██╔════╝    ██╔══██╗██╔═══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝  │ */
/* │  █████╗  ██████╔╝██║█████╗  ██╔██╗ ██║██║  ██║███████╗    ██████╔╝██║   ██║██████╔╝██║   ██║██║   ██║   ██║     │ */
/* │  ██╔══╝  ██╔══██╗██║██╔══╝  ██║╚██╗██║██║  ██║╚════██║    ██╔═══╝ ██║   ██║██╔═══╝ ██║   ██║██║   ██║   ██║     │ */
/* │  ██║     ██║  ██║██║███████╗██║ ╚████║██████╔╝███████║    ██║     ╚██████╔╝██║     ╚██████╔╝╚██████╔╝   ██║     │ */
/* │  ╚═╝     ╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═══╝╚═════╝ ╚══════╝    ╚═╝      ╚═════╝ ╚═╝      ╚═════╝  ╚═════╝    ╚═╝     │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[aria-label="Pop Out"] {
	left: 40px !important
}

[aria-label="Full Screen"],
[aria-label="Exit Full Screen"] {
	left: -40px !important
}

/* ┌─────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗     ██╗     ██╗███████╗████████╗  │ */
/* │  ██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗    ██║     ██║██╔════╝╚══██╔══╝  │ */
/* │  ███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝    ██║     ██║███████╗   ██║     │ */
/* │  ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗    ██║     ██║╚════██║   ██║     │ */
/* │  ███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║    ███████╗██║███████║   ██║     │ */
/* │  ╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝    ╚══════╝╚═╝╚══════╝   ╚═╝     │ */
/* └─────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="sidebar"] > [class*="guilds"] {
	background: var(--background-servers) !important;
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗     ██████╗  █████╗ ███╗   ██╗███╗   ██╗███████╗██████╗   │ */
/* │  ██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗    ██╔══██╗██╔══██╗████╗  ██║████╗  ██║██╔════╝██╔══██╗  │ */
/* │  ███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝    ██████╔╝███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝  │ */
/* │  ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗    ██╔══██╗██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗  │ */
/* │  ███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║    ██████╔╝██║  ██║██║ ╚████║██║ ╚████║███████╗██║  ██║  │ */
/* │  ╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="sidebarList"] > [class*="container"] > [class*="container"]:not(:first-child),
[class*="sidebarList"] > [class*="container"] > :first-child > *:not(header),
[aria-label="Channels"] > [style="height: 84px;"],
[aria-label="Channels"] > [style="height: 8px;"],
[aria-label="Channels"] > li:nth-of-type(1),
[aria-label="Channels"] > [class*="sectionDivider"] {
	display: none;
}
[aria-label="Channels"] > [class*="container"][class*="containerWithMargin"] {
	border-bottom: none;
	margin: 0px 0px -10px 0px;
}


/* ┌────────────────────────────────────────────────────────────────────────┐ */
/* │   ██████╗██╗  ██╗ █████╗ ███╗   ██╗███╗   ██╗███████╗██╗     ███████╗  │ */
/* │  ██╔════╝██║  ██║██╔══██╗████╗  ██║████╗  ██║██╔════╝██║     ██╔════╝  │ */
/* │  ██║     ███████║███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██║     ███████╗  │ */
/* │  ██║     ██╔══██║██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██║     ╚════██║  │ */
/* │  ╚██████╗██║  ██║██║  ██║██║ ╚████║██║ ╚████║███████╗███████╗███████║  │ */
/* │   ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚══════╝╚══════╝  │ */
/* └────────────────────────────────────────────────────────────────────────┘ */
[class*="sidebar"] {
	border-top: 1px solid var(--border-subtle);
}

[class*="sidebar"]:after {
	display: none !important;
}

#channels {
	padding: 0px 0px 0px 5px;
}

[class*="sidebarList"]>[class*="container"]>[class*="container"]>[class*="header"] {
	background: var(--__header-bar-background);
}

[class*="sidebarListRounded"] {
	border-radius: 0px !important;
}

div[class^="content-"]>div[class^="sidebar-"] {
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	overflow: visible !important
}

[aria-label="Channels"]>[class*="wrapper"] {
	height: 35px !important;
	overflow: hidden !important;
	position: relative !important
}

[class^="iconVisibility"]>div:has([role="link"]) {
	height: 24px !important
}

/*
li:has([role="link"]):not([class*="messageListItem"]):not([aria-label="Voice icon"]) {
	height: 25px !important
}
*/

li:has([role="group"]) {
	height: fit-content !important
}

a[role="link"],
a[role="link"]>div[class^="linkTop"] {
	height: 25px !important;
	padding: 0px !important;
	line-height: 25px !important;
	margin-top: 0px !important
}

[class*="containerDefault"]:has([class*="wrapperCommon"]) {
	-webkit-transition: opacity .2s ease-in-out !important;
	padding: 0px 0px 0px 0px !important;
	margin: 5px 0px 0px 0px !important;
	position: relative !important;
	transition: opacity .2s ease-in-out !important;
	border-top: 1px solid var(--background-hover);
	left: -10px
}

[class*="base"]>[class*="content"]>[class*="sidebar"]>[class*="sidebarList"],
[class*="sidebar"]>nav>[class*="Banner"] {
	min-width: 101px !important;
	width: var(--channels-width, 200px) !important;
	max-width: var(--channels-width, 200px) !important
}

[class*="animatedContainer"] {
	top: 50px !important;
	height: 147px !important;
}

[class*="bannerIm"] {
	background-position: center !important;
	top: 0px !important;
	left: -20px !important;
	transform: none !important;
	height: 100% !important;
}
[href*="channels"]:hover {
	background: var(--background-primary) !important
}

[href*="channels"] {
	width: calc(var(--channels-width, 200px) - 30px) !important;
	border-radius: 10px !important;
}
[class*="selected"]:has([href*="channels"]) [href*="channels"]{
	outline: var(--background-dotted-border) 1px solid !important
}

[data-list-item-id*="channels"] > [class*="linkTop"] {margin: auto 0px}
[class*="unread"][class*="unreadImportant"] {margin-top: -4px !important}

[class*="containerDefault"]:has([class*="typeDefault"]) {
	margin-left: 0px !important;
	margin-right: -5px !important;
	margin-bottom: -1px !important;
	left: 0px !important
}

[class*="containerDefault"] [class^="icon"] {
	left: 3px !important;
}

[class*="linkTop"]>[class*="name"] {
	max-width: calc(var(--channels-width, 200px) - 45px) !important;
}

[class*="actionIcon"] {
	margin-right: 10px !important
}

[class*="visual-refresh"] [class*="wrapper"] {
	margin-bottom: 0px !important
}

[class*="modeSelected"]>[class*="unread"][class*="unreadImportant"] {
	background-color: var(--interactive-hover) !important;
	height: 25px !important;
	width: 3px !important;
	top: 0% !important;
	margin-top: 1px !important;
	padding: 0px !important;
	line-height: 25px !important;
}
[class^="iconVisibility"]>[class^="unread"] {
	background-color: var(--unread-text) !important;
	top: 45%;
}

:where(.visual-refresh) [class*="modeUnreadImportant"] [class*="name"],
[class*="containerDefault"]>[class*="modeUnread"]>div>a>div>div>[class*="icon"],
[class*="containerDefault"]>[class*="modeUnread"]>div>a>div>div>[class*="name"] {
	color: var(--interactive-active) !important;
}

[class*="containerDefault"]>[class*="modeSelected"]>div>a>div>div>[class*="icon"],
[class*="containerDefault"]>[class*="modeSelected"]>div>a>div>div>[class*="name"],
[class*="modeSelected"] [class*="name"] {
	color: var(--interactive-hover) !important;
}

[class*="containerDefault"]>[class*="wrapper"]:hover>div>a>div>div>[class*="icon"],
[class*="containerDefault"]>[class*="wrapper"]:hover>div>a>div>div>[class*="name"] {
	color: var(--interactive-hover);
}

/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ██╗   ██╗ ██████╗ ██╗ ██████╗███████╗     ██████╗██╗  ██╗ █████╗ ███╗   ██╗███╗   ██╗███████╗██╗     ███████╗  │ */
/* │  ██║   ██║██╔═══██╗██║██╔════╝██╔════╝    ██╔════╝██║  ██║██╔══██╗████╗  ██║████╗  ██║██╔════╝██║     ██╔════╝  │ */
/* │  ██║   ██║██║   ██║██║██║     █████╗      ██║     ███████║███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██║     ███████╗  │ */
/* │  ╚██╗ ██╔╝██║   ██║██║██║     ██╔══╝      ██║     ██╔══██║██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██║     ╚════██║  │ */
/* │   ╚████╔╝ ╚██████╔╝██║╚██████╗███████╗    ╚██████╗██║  ██║██║  ██║██║ ╚████║██║ ╚████║███████╗███████╗███████║  │ */
/* │    ╚═══╝   ╚═════╝ ╚═╝ ╚═════╝╚══════╝     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚══════╝╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="voiceUserSummary"] {
	margin-right: 10px !important
}

[class*="avatarContainerMasked"] {
	margin: 0px 0px 0px 1px !important
}

[class*="moreUsers"] {
	padding: 0px 0px !important
}

[class*="list"][role="group"] {
	padding-left: 15px !important;
	padding-bottom: 4px;
}

[class*="list"][role="group"] > [class*="draggable"] {
	height: 20px !important;
	padding: 4px 0px !important
}

[class*="list"][role="group"] > [class*="draggable"], 
[class*="list"][role="group"] > [class*="draggable"] > [class*="voiceUser"], 
[class*="list"][role="group"] > [class*="draggable"] > [class*="voiceUser"] > [class*="content"] {
	height: 20px !important;
	border-radius: 25px !important;
	padding: 0px 8px 3px 2px !important;
	width: calc(var(--channels-width, 200px) - 35px) !important;
}

[class*="list"][role="group"] > [class*="draggable"]:hover {
	background: var(--background-primary) !important;
	outline: var(--background-dotted-border) 1px solid !important;
}
[class*="voiceUser"] > [class*="content"]:hover {
	background: transparent !important;
}

[class*="voiceUser"] > [class*="content"] > [class*="userAvatar"] {
	margin-right: 0px !important;
	margin-left: 0px !important;
	width: 20px !important;
	height: 20px !important;
	border-radius: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	display: none;
}


/* ┌──────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ██╗   ██╗███████╗███████╗██████╗      █████╗  ██████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ██╗████████╗  │ */
/* │  ██║   ██║██╔════╝██╔════╝██╔══██╗    ██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║████╗  ██║╚══██╔══╝  │ */
/* │  ██║   ██║███████╗█████╗  ██████╔╝    ███████║██║     ██║     ██║   ██║██║   ██║██╔██╗ ██║   ██║     │ */
/* │  ██║   ██║╚════██║██╔══╝  ██╔══██╗    ██╔══██║██║     ██║     ██║   ██║██║   ██║██║╚██╗██║   ██║     │ */
/* │  ╚██████╔╝███████║███████╗██║  ██║    ██║  ██║╚██████╗╚██████╗╚██████╔╝╚██████╔╝██║ ╚████║   ██║     │ */
/* │   ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝ ╚═════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝   ╚═╝     │ */
/* └──────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[aria-label="User area"]{
	--thiswidth2: calc(var(--channels-width, 200px) + 5px);
	max-width: var(--thiswidth2) !important;
	width: var(--thiswidth2) !important;
	left: 64px !important;
	border-radius: 0% !important;
	bottom: 0px !important;
}
[aria-label="User area"]>[class*="activityPanel"] {
	--thiswidth: calc(var(--channels-width, 200px) - 10px);
	max-width: var(--thiswidth) !important;
	width: var(--thiswidth) !important;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 3px 5px;
	z-index: 50 !important;
	border-radius: 0px !important;
}
[aria-label="User area"]>[class*="container"] {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	z-index: 50 !important;
	gap: 0px;
}
[aria-label="User area"]>[class*="container"]>[class*="avatarWrapper"] {
	max-width: calc(var(--channels-width, 200px) - 80px);
}
[aria-label="User area"] > [class*="container"],
[aria-label="User area"] > * {
	border-radius: 0% !important;
	max-height: fit-content !important;
}
[class*="accountDetails"] {
	min-width: 45px !important
}
.unread+.content .foreground,
.unread+.content .background {
	fill: var(--unread-text) !important;
	opacity: 1 !important
}
[aria-label="User area"]>[class*="container"]>[class*="buttons"]  {
	margin-right: 10px !important;
	margin: 0px 0px 0px 0px;
	padding-bottom: 15px;
}
[aria-label="User area"]>[class*="container"]>[class*="buttons"] > :nth-child(3)  {
	margin-left: -5px;
	background-color: transparent !important;
	backdrop-filter: none !important;
}
[class*="customStatus"]>[class*="emoji"],
[class*="activity"]>[class*="emoji"],
[aria-label="Mute"],
[aria-label="Deafen"],
[class*="micButtonParent"] {
	max-height: 10px !important;
	max-width: 10px !important;
	margin: 0px 2px 0px 2px !important
}
[aria-label="User Settings"][type="button"] {
	max-height: 10px !important;
	max-width: 10px !important;
	margin: 0px 2px 0px 4px !important
}
[class*="micButtonParent"] [class*="buttonChevron"] {
    height: 16px;
    margin-left: -12px;
    top: 16px;
	width: 32px;
}
[class*="avatarWrapper"]>[class*="nameTag"] {
	line-height: 18px !important;
	margin-left: -5px !important;
	margin-right: -10px !important;
	max-width: calc(var(--channels-width, 200px) - 110px) !important;
}
[class*="text-sm\/medium"] {
	font-weight: 200 !important;
	font-size: 15px !important
}
[class*="userSettingsSecurityImage"] {
	filter: sepia() hue-rotate(180deg) brightness(120%) contrast(130%) saturate(200%)
}
[class*="actionButtons"]> button, [class*="actionButtons"] > div > button {
	padding: 0px !important
}


/* ┌──────────────────────────────────────────────────────────────────┐ */
/* │  ███╗   ███╗███████╗███╗   ███╗██████╗ ███████╗██████╗ ███████╗  │ */
/* │  ████╗ ████║██╔════╝████╗ ████║██╔══██╗██╔════╝██╔══██╗██╔════╝  │ */
/* │  ██╔████╔██║█████╗  ██╔████╔██║██████╔╝█████╗  ██████╔╝███████╗  │ */
/* │  ██║╚██╔╝██║██╔══╝  ██║╚██╔╝██║██╔══██╗██╔══╝  ██╔══██╗╚════██║  │ */
/* │  ██║ ╚═╝ ██║███████╗██║ ╚═╝ ██║██████╔╝███████╗██║  ██║███████║  │ */
/* │  ╚═╝     ╚═╝╚══════╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝  │ */
/* └──────────────────────────────────────────────────────────────────┘ */
[class*="membersWrap"] {
	min-width: calc(var(--members-width, 200px) - 25px) !important;
	margin: 0px -12px 0px 0px !important;
	padding: 0px 0px 0px 5px !important;
}

[class*="membersWrap"]>[class*="members"] {
	padding-bottom: 0px !important;
	margin-top: 5px !important;
	max-width: var(--members-width, 225px) !important;
	min-width: var(--members-width, 225px) !important;
	margin-left: 0px !important
}

[aria-label="Members"]>[class*="container"] {
	max-width: calc(var(--members-width, 225px) - 16px) !important;
	min-width: calc(var(--members-width, 225px) - 16px) !important;
	margin: 4px 0px;
}

[class*="membersGroup"][class*="header"] {
	text-align: left !important;
	padding: 10px 0px 0px 2px !important;
	margin: 0px 0px 0px 0px !important;
	height: fit-content !important
}

[class*="membersWrap"]>[class*="members"]>[class*="content"]>[class*="member-"],
[class*="memberInner"] {
	border-radius: 5px !important;
	height: 36px !important;
	margin: 0px 0px 0px -2px !important;
	padding: 0px 0px 0px 0px !important;
}

[class*="memberInner"]>[class*="avatar"] {
	margin-right: 0px !important;
	padding-left: 9px !important;
	width: 40px !important;
}

[class*="membersWrap"]>[class*="members"]>[class*="content"]>[class*="member-"]+[class*="membersGroup"] {
	margin-top: -10px !important
}

[class*="member"]>[class*="nameplated"] {
	border-radius: 0px !important;
}

[class*="avatarStatus"] {
	height: 20px !important;
	width: 4px !important
}

[class*="membersWrap"]>[class*="members"]>[class*="content"]>[class*="member-"]>[class*="memberInner"] {
	padding: 0 3px !important;
	height: 36px
}

[class*="subText"]>[class*="activity"] {
	font-size: 12px;
	line-height: 16px;
	color: var(--grey-text);
	font-weight: 500;
}


/* ┌─────────────────────────────────────┐ */
/* │   ██████╗██╗  ██╗ █████╗ ████████╗  │ */
/* │  ██╔════╝██║  ██║██╔══██╗╚══██╔══╝  │ */
/* │  ██║     ███████║███████║   ██║     │ */
/* │  ██║     ██╔══██║██╔══██║   ██║     │ */
/* │  ╚██████╗██║  ██║██║  ██║   ██║     │ */
/* │   ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝     │ */
/* └─────────────────────────────────────┘ */
[class*="autocompleteRow"] > [class*="base"] {
	background: transparent !important;
}
[class*="autocompleteRow"][aria-selected="true"] {
	background: var(--chat-background-default) !important;
}
[class*="chatContainer"] {
	padding-right: 5px
}

[class*="messageListItem"] {
	border-bottom: 1px solid var(--background-servers) !important
}
[data-list-id="chat-messages"]>[class*="divider"] {
	border-top: 1px solid var(--background-servers) !important
}
#---new-messages-bar{
	border-top: 1px solid var(--divider-color) !important
}

[data-list-id="chat-messages"]>[class*="divider"] {
	margin: -1px 20px -6px !important;
	padding: 5px !important
}

[data-list-id="chat-messages"]>[class*="divider"]>[class*="content"] {
	line-height: 12px !important;
	font-size: 10px !important;
	color: var(--unread-text) !important;
	background: var(--background-messages) !important;
	outline: 2px solid var(--background-messages) !important;
	margin-top: -10px !important;
	text-shadow: 0px 0px 5px var(--background-members);
}

[data-list-id="chat-messages"]>[class*="isUnread"] {
	width: 100.5% !important;
	left: -20px !important
}

[class*="unreadPill"] {
	right: 8px !important;
}

[class*="repliedMessage"] {color: var(--grey-text);}

/* -- Bigger Emoji -- */
[class*="emojiContainer"]>[class*="emoji"],
[class*="reactionInner"]>div>[class*="emoji"] {
	height: 2.45em !important;
	width: 2.45em !important;
	/* margin: -5px 2px -2px !important; */
}

[class*="reaction"] [class*="emoji"] {
	height: 1.5em !important;
	width: 1.5em !important;
	margin: 0px !important
}


/* ┌────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗███████╗████████╗████████╗██╗███╗   ██╗ ██████╗ ███████╗  │ */
/* │  ██╔════╝██╔════╝╚══██╔══╝╚══██╔══╝██║████╗  ██║██╔════╝ ██╔════╝  │ */
/* │  ███████╗█████╗     ██║      ██║   ██║██╔██╗ ██║██║  ███╗███████╗  │ */
/* │  ╚════██║██╔══╝     ██║      ██║   ██║██║╚██╗██║██║   ██║╚════██║  │ */
/* │  ███████║███████╗   ██║      ██║   ██║██║ ╚████║╚██████╔╝███████║  │ */
/* │  ╚══════╝╚══════╝   ╚═╝      ╚═╝   ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝  │ */
/* └────────────────────────────────────────────────────────────────────┘ */
[role="dialog"] > [class*="outerContainer"],
[role="dialog"] > [class*="outerContainer"] > div {
	display: block !important;
    position: fixed !important;
    min-height: calc(100% - 30px) !important;
    height: calc(100% - 30px) !important;
    min-width: 100% !important;
    top: 30px !important;
    left: 0 !important;
}
[role="dialog"] > [class*="outerContainer"] > div > div > div > [class*="container"] > [class*="content"] > [class*="contentBody"] > [class*="scroller"] > [class*="panel"] {
    min-width: 90% !important;
}
[class*="accountProfileCard"] {
	max-width: 470px !important
}
[data-list-id*="settings"] > nav > ul > div {
	height: 20px
}


/* ┌──────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗     ██████╗  ██████╗ ██╗     ███████╗███████╗  │ */
/* │  ██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗    ██╔══██╗██╔═══██╗██║     ██╔════╝██╔════╝  │ */
/* │  ███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝    ██████╔╝██║   ██║██║     █████╗  ███████╗  │ */
/* │  ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗    ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║  │ */
/* │  ███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║    ██║  ██║╚██████╔╝███████╗███████╗███████║  │ */
/* │  ╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝  │ */
/* └──────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[id="roles-tab"]>[class*="page"]>[class*="sidebar"] {
	position: absolute;
	left: 0;
	width: 232px;
}


/* ┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗████████╗██████╗ ███████╗ █████╗ ███╗   ███╗    ██████╗ ██████╗ ███████╗██╗   ██╗██╗███████╗██╗    ██╗  │ */
/* │  ██╔════╝╚══██╔══╝██╔══██╗██╔════╝██╔══██╗████╗ ████║    ██╔══██╗██╔══██╗██╔════╝██║   ██║██║██╔════╝██║    ██║  │ */
/* │  ███████╗   ██║   ██████╔╝█████╗  ███████║██╔████╔██║    ██████╔╝██████╔╝█████╗  ██║   ██║██║█████╗  ██║ █╗ ██║  │ */
/* │  ╚════██║   ██║   ██╔══██╗██╔══╝  ██╔══██║██║╚██╔╝██║    ██╔═══╝ ██╔══██╗██╔══╝  ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║  │ */
/* │  ███████║   ██║   ██║  ██║███████╗██║  ██║██║ ╚═╝ ██║    ██║     ██║  ██║███████╗ ╚████╔╝ ██║███████╗╚███╔███╔╝  │ */
/* │  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝    ╚═╝     ╚═╝  ╚═╝╚══════╝  ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝   │ */
/* └──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="pictureInPictureWindow"]>[class*="elevationHigh"] {
	box-shadow: none !important;
}

[class*="pictureInPictureWindow"] {
	top: 30px !important;
	left: -160px !important
}

[class*="pictureInPictureWindow"] {
	height: 202px !important;
	width: 360px !important
}

[class*="videoControls"] {
	padding: 10px !important
}


/* ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ██████╗ ███████╗███╗   ███╗ ██████╗ ██╗   ██╗███████╗    ██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗  │ */
/* │  ██╔══██╗██╔════╝████╗ ████║██╔═══██╗██║   ██║██╔════╝    ██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝  │ */
/* │  ██████╔╝█████╗  ██╔████╔██║██║   ██║██║   ██║█████╗      ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗  │ */
/* │  ██╔══██╗██╔══╝  ██║╚██╔╝██║██║   ██║╚██╗ ██╔╝██╔══╝      ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║  │ */
/* │  ██║  ██║███████╗██║ ╚═╝ ██║╚██████╔╝ ╚████╔╝ ███████╗    ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║  │ */
/* │  ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝    ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝  │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[role="listitem"]:has(div > a[href="/store"]),    /* Shop Button in DMs Page */
/*[role="listitem"]:has(div > a[href="/shop"]),*/ /* Nitro Button in DMs Page */
[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"],
[class*="channelAppLauncher"]
{
	display: none !important
}


/* ┌────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███╗   ██╗██╗████████╗██████╗  ██████╗     ██████╗ ███████╗ ██████╗ ██████╗ ██████╗ ███████╗  │ */
/* │  ████╗  ██║██║╚══██╔══╝██╔══██╗██╔═══██╗    ██╔══██╗██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔════╝  │ */
/* │  ██╔██╗ ██║██║   ██║   ██████╔╝██║   ██║    ██║  ██║█████╗  ██║     ██║   ██║██████╔╝█████╗    │ */
/* │  ██║╚██╗██║██║   ██║   ██╔══██╗██║   ██║    ██║  ██║██╔══╝  ██║     ██║   ██║██╔══██╗██╔══╝    │ */
/* │  ██║ ╚████║██║   ██║   ██║  ██║╚██████╔╝    ██████╔╝███████╗╚██████╗╚██████╔╝██║  ██║███████╗  │ */
/* │  ╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝     ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝  │ */
/* └────────────────────────────────────────────────────────────────────────────────────────────────┘ */
/* -- Hide Clan Tags -- */
[class*="clanTag"]
{
	display: none !important
}

/* -- Show/Hide Nitro Decorations -- */
[class*="avatarDecoration"],
[class*="profileEffects"],
[class*="nameplate"]>[class*="container"]
{
	opacity: 1 !important
}

/* -- Force Custom Name Colors in DM Messages -- */
[class*="loop"][class*="container"][class*="dnsFont"] > span {
    color: var(--custom-display-name-styles-main-color);
}

/* -- Remove name gradients -- */
[class*="username"][class*="usernameGradient"] {
	color: var(--custom-gradient-color-1);
	-webkit-text-fill-color: unset;
}

/* View the store page previews */
[class*="preview"]>div>div>[class*="avatarDecoration"],
[class*="preview"]>div>[class*="profileEffects"],
[class*="preview"]>div>div>div>[class*="nameplate"]>[class*="container"]
{
	opacity: 1 !important
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███╗   ██╗ ██████╗      █████╗  ██████╗████████╗██╗██╗   ██╗██╗████████╗██╗   ██╗     ██████╗ █████╗ ██████╗ ██████╗ ███████╗  │ */
/* │  ████╗  ██║██╔═══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██║   ██║██║╚══██╔══╝╚██╗ ██╔╝    ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝  │ */
/* │  ██╔██╗ ██║██║   ██║    ███████║██║        ██║   ██║██║   ██║██║   ██║    ╚████╔╝     ██║     ███████║██████╔╝██║  ██║███████╗  │ */
/* │  ██║╚██╗██║██║   ██║    ██╔══██║██║        ██║   ██║╚██╗ ██╔╝██║   ██║     ╚██╔╝      ██║     ██╔══██║██╔══██╗██║  ██║╚════██║  │ */
/* │  ██║ ╚████║╚██████╔╝    ██║  ██║╚██████╗   ██║   ██║ ╚████╔╝ ██║   ██║      ██║       ╚██████╗██║  ██║██║  ██║██████╔╝███████║  │ */
/* │  ╚═╝  ╚═══╝ ╚═════╝     ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝  ╚═══╝  ╚═╝   ╚═╝      ╚═╝        ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="membersGroup"]:has([class*="headerContainer"]),
[role="listitem"]:has([class*="openOnHover"][class*="container"]) {
	background: pink !important;  /* Pink to easily identify for debugging */
	display: none !important
}
[aria-label="Start An Activity"] > div > [class*="dot"]
{
	display: none !important
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███╗   ██╗ ██████╗      ██████╗██╗  ██╗ █████╗ ███╗   ██╗███╗   ██╗███████╗██╗         ██╗ ██████╗ ██████╗ ███╗   ██╗███████╗  │ */
/* │  ████╗  ██║██╔═══██╗    ██╔════╝██║  ██║██╔══██╗████╗  ██║████╗  ██║██╔════╝██║         ██║██╔════╝██╔═══██╗████╗  ██║██╔════╝  │ */
/* │  ██╔██╗ ██║██║   ██║    ██║     ███████║███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██║         ██║██║     ██║   ██║██╔██╗ ██║███████╗  │ */
/* │  ██║╚██╗██║██║   ██║    ██║     ██╔══██║██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██║         ██║██║     ██║   ██║██║╚██╗██║╚════██║  │ */
/* │  ██║ ╚████║╚██████╔╝    ╚██████╗██║  ██║██║  ██║██║ ╚████║██║ ╚████║███████╗███████╗    ██║╚██████╗╚██████╔╝██║ ╚████║███████║  │ */
/* │  ╚═╝  ╚═══╝ ╚═════╝      ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚══════╝    ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="channelEmoji"] {
	display: none !important;
	width: 0px !important;
	padding: 0px !important;
	margin: 0px !important
}


/* ┌────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗ ██████╗ ██╗   ██╗ █████╗ ██████╗ ███████╗     █████╗ ██╗   ██╗ █████╗ ████████╗ █████╗ ██████╗ ███████╗  │ */
/* │  ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔══██╗██╔════╝    ██╔══██╗██║   ██║██╔══██╗╚══██╔══╝██╔══██╗██╔══██╗██╔════╝  │ */
/* │  ███████╗██║   ██║██║   ██║███████║██████╔╝█████╗      ███████║██║   ██║███████║   ██║   ███████║██████╔╝███████╗  │ */
/* │  ╚════██║██║▄▄ ██║██║   ██║██╔══██║██╔══██╗██╔══╝      ██╔══██║╚██╗ ██╔╝██╔══██║   ██║   ██╔══██║██╔══██╗╚════██║  │ */
/* │  ███████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║███████╗    ██║  ██║ ╚████╔╝ ██║  ██║   ██║   ██║  ██║██║  ██║███████║  │ */
/* │  ╚══════╝ ╚══▀▀═╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═╝  ╚═══╝  ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝  │ */
/* └────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="callAvatarMaskContainer"]>[class*="border"],
[class*="avatar"]>[class*="wrapper"],
[class*="avatarBorder"], [class*="avatar"] {
	border-radius: 0px !important
}

foreignObject,
[mask*="url(#svg-mask-avatar"] {
	mask: none !important;
	z-index: 5 !important
}
[class*="avatarStack"][class*="overlay"]::after {border-radius:0px !important; background-color: rgb(0 0 0 / 50%) !important;}

[class*="userAvatar"],
[class*="avatarSpeaking"],
[class*="acronym"],
[class*="circleIconButton"],
[class*="voiceAvatar"] {
	border-radius: 0% !important;
	clip-path: circle(px)
}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗ ██████╗ ██╗   ██╗ █████╗ ██████╗ ███████╗    ███████╗████████╗ █████╗ ████████╗██╗   ██╗███████╗  │ */
/* │  ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔══██╗██╔════╝    ██╔════╝╚══██╔══╝██╔══██╗╚══██╔══╝██║   ██║██╔════╝  │ */
/* │  ███████╗██║   ██║██║   ██║███████║██████╔╝█████╗      ███████╗   ██║   ███████║   ██║   ██║   ██║███████╗  │ */
/* │  ╚════██║██║▄▄ ██║██║   ██║██╔══██║██╔══██╗██╔══╝      ╚════██║   ██║   ██╔══██║   ██║   ██║   ██║╚════██║  │ */
/* │  ███████║╚██████╔╝╚██████╔╝██║  ██║██║  ██║███████╗    ███████║   ██║   ██║  ██║   ██║   ╚██████╔╝███████║  │ */
/* │  ╚══════╝ ╚══▀▀═╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[class*="avatar"]>[class*="wrapper"] {
	left: -6px !important;
}

[transform*="translate(19, 22)"]>svg,
[transform*="translate(19, 22)"]>svg>rect,
[transform*="translate(19, 22)"]>svg>mask>rect {
	mask: none !important;
	x: 22px !important;
	y: -22px !important;
	height: 40px !important;
	width: 6px !important;
	overflow: visible;
}
[transform*="translate(14.5, 17)"]>svg,
[transform*="translate(14.5, 17)"]>svg>rect,
[transform*="translate(14.5, 17)"]>svg>mask>rect,
[class*="pointerEvents"][width="10"][x="22"] {
	mask: none !important;
	x: 33px !important;
	y: 0px !important;
	height: 32px !important;
	width: 6px !important;
	overflow: visible;
}

svg[class*="dots"] {
	display: none !important
}

[transform*="translate(19, 22)"]>svg>mask,
[transform*="translate(14.5, 17)"]>svg>mask {
	display: none;
	height: 100% !important;
	width: 100% !important
}

[transform*="translate(19, 22)"]>svg>mask>polygon,
[transform*="translate(14.5, 17)"]>svg>mask>polygon,
[transform*="translate(14.5, 17)"] {
	transform: scale(1) translate(0, 0) !important
}


/* ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │   ██████╗ ███╗   ██╗██╗     ██╗███╗   ██╗███████╗    ███████╗████████╗ █████╗ ████████╗██╗   ██╗███████╗  │ */
/* │  ██╔═══██╗████╗  ██║██║     ██║████╗  ██║██╔════╝    ██╔════╝╚══██╔══╝██╔══██╗╚══██╔══╝██║   ██║██╔════╝  │ */
/* │  ██║   ██║██╔██╗ ██║██║     ██║██╔██╗ ██║█████╗      ███████╗   ██║   ███████║   ██║   ██║   ██║███████╗  │ */
/* │  ██║   ██║██║╚██╗██║██║     ██║██║╚██╗██║██╔══╝      ╚════██║   ██║   ██╔══██║   ██║   ██║   ██║╚════██║  │ */
/* │  ╚██████╔╝██║ ╚████║███████╗██║██║ ╚████║███████╗    ███████║   ██║   ██║  ██║   ██║   ╚██████╔╝███████║  │ */
/* │   ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝    ╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚══════╝  │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
[fill="#43a25a"]:not([mask="url(#svg-mask-status-online-mobile)"]) {fill: var(--status-online)}
[mask="url(#svg-mask-status-online-mobile)"] {fill: var(--status-online-mobile)}
[fill="#ca9654"] {fill: var(--status-idle)}
[fill="#d83a42"] {fill: var(--status-DND)}

/* -- Online Status - ChannelTabs support -- */
.channelTabs-onlineIcon {stroke: var(--status-online)}
.channelTabs-idleIcon {stroke: var(--status-idle)}
.channelTabs-doNotDisturbIcon {stroke: var(--status-DND)}
.channelTabs-offlineIcon {stroke: var(--status-offline)}


/* ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │   ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ███████╗████████╗ █████╗ ████████╗██╗   ██╗███████╗  │ */
/* │  ██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝╚══██╔══╝██╔══██╗╚══██╔══╝██║   ██║██╔════╝  │ */
/* │  ██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ███████╗   ██║   ███████║   ██║   ██║   ██║███████╗  │ */
/* │  ██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ╚════██║   ██║   ██╔══██║   ██║   ██║   ██║╚════██║  │ */
/* │  ╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║   ██║   ██║  ██║   ██║   ╚██████╔╝███████║  │ */
/* │   ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
/* -- In-voice -- */
[class*="memberInner"]:has(path[d^="M11 2a1"])>[class*="avatar"] {
	background: linear-gradient(90deg, var(--profile-status-streaming) 6px, transparent 2px);
}
[class*="memberInner"]:has(path[d^="M2 7.4A5.4"])>[class*="avatar"] {
	background: linear-gradient(90deg, var(--profile-status-streaming) 6px, transparent 2px);
}

/* -- In-game -- */
[class*="memberInner"]:has(path[d^="M20.97 4.06c0"])>[class*="avatar"] {
	background: linear-gradient(90deg, var(--profile-status-ingame) 6px, transparent 2px);
}

/* -- Music -- */
[class*="memberInner"]:has(path[d^="M8.65 1.51A2"])>[class*="avatar"] {
	background: linear-gradient(90deg, var(--profile-spotify) 6px, transparent 2px);
}

/* -- Sharing -- */
[class*="memberInner"]:has(path[d^="M4 3a3"])>[class*="avatar"] {
	background: linear-gradient(90deg, var(--profile-streaming) 6px, transparent 2px);
}


/* ┌─────────────────────────────────────────────────────────────────────┐ */
/* │  ██████╗ ██████╗     ███████╗██████╗ ██╗████████╗ ██████╗ ██████╗   │ */
/* │  ██╔══██╗██╔══██╗    ██╔════╝██╔══██╗██║╚══██╔══╝██╔═══██╗██╔══██╗  │ */
/* │  ██████╔╝██║  ██║    █████╗  ██║  ██║██║   ██║   ██║   ██║██████╔╝  │ */
/* │  ██╔══██╗██║  ██║    ██╔══╝  ██║  ██║██║   ██║   ██║   ██║██╔══██╗  │ */
/* │  ██████╔╝██████╔╝    ███████╗██████╔╝██║   ██║   ╚██████╔╝██║  ██║  │ */
/* │  ╚═════╝ ╚═════╝     ╚══════╝╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝  │ */
/* └─────────────────────────────────────────────────────────────────────┘ */
.bd-fallback-editor {
	filter: invert(1) brightness(2) !important
}

.bd-addon-list.bd-grid-view {
	grid-template-columns: 30% 30% 30% !important
}

#floating-editor-window {
	min-width: 800px;
	min-height: 600px;
	max-height: 1000px;
	max-width: 1300px;
}

.bd-addon-store {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

/* ┌─────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ███████╗ ██████╗██████╗  ██████╗ ██╗     ██╗         ██████╗  █████╗ ██████╗ ███████╗  │ */
/* │  ██╔════╝██╔════╝██╔══██╗██╔═══██╗██║     ██║         ██╔══██╗██╔══██╗██╔══██╗██╔════╝  │ */
/* │  ███████╗██║     ██████╔╝██║   ██║██║     ██║         ██████╔╝███████║██████╔╝███████╗  │ */
/* │  ╚════██║██║     ██╔══██╗██║   ██║██║     ██║         ██╔══██╗██╔══██║██╔══██╗╚════██║  │ */
/* │  ███████║╚██████╗██║  ██║╚██████╔╝███████╗███████╗    ██████╔╝██║  ██║██║  ██║███████║  │ */
/* │  ╚══════╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝  │ */
/* └─────────────────────────────────────────────────────────────────────────────────────────┘ */
::-webkit-scrollbar-track {
	background-color: transparent
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	background-color: transparent
}

::-webkit-scrollbar-thumb {
	background-color: var(--background-textentry)
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--unread-text)
}
