/*   ____            _   _        ____                         _   
//  / ___| ___ _ __ | |_| | ___  |  _ \ _   _ _ __  _ __   ___| |_ 
// | |  _ / _ \ '_ \| __| |/ _ \ | |_) | | | | '_ \| '_ \ / _ \ __|
// | |_| |  __/ | | | |_| |  __/ |  __/| |_| | |_) | |_) |  __/ |_ 
//  \____|\___|_| |_|\__|_|\___| |_|    \__,_| .__/| .__/ \___|\__|
//                                           |_|   |_|             
*/

/** -- Friends List -- **/
[class*="peopleListItem"]
{
    height: 50px !important 
}

/* - Friends Popout - */
[aria-label="Pop Out"] {
	left: 40px !important
}
[aria-label="Full Screen"],
[aria-label="Exit Full Screen"] {
	left: -40px !important
}

/* -- Channels --  */
div[class^="content-"] > div[class^="sidebar-"] {
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	overflow: visible !important
}
[aria-label="Channels"] {
	height: auto !important;
	padding-bottom: 25px
}
[aria-label="Channels"] > [class*="wrapper"] {
    height: 35px !important;
    overflow: hidden !important;
    position: relative !important 
}
[class^="iconVisibility"] > div:has([role="link"]) {
	height: 24px !important
}
li:has([role="link"]) {
	height: 25px !important
}
li:has([role="group"]) {
	height: fit-content !important
}
a[role="link"],
[class^="iconVisibility"] > [class^="unread"],
a[role="link"] > div[class^="linkTop"] {
	height: 25px !important;
	padding: 0px !important;
	line-height: 25px !important;
	top: 0px !important;
	margin-top: 0px !important
}
[class*="containerDefault"]:has([class*="wrapperCommon"]) {
    -webkit-transition: opacity .2s ease-in-out !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    position: relative !important;
    transition: opacity .2s ease-in-out !important;
	border-top: 1px solid var(--background-hover)
}
[class*="base"] > [class*="content"] > [class*="sidebar"],
[aria-label="User area"],
[class*="sidebar"] > nav > [class*="Banner"] {
	width: 190px 
}
[href*="channels"] {
	width: 168px;
	border-radius: 25px !important 
}
[class*="containerDefault"]:has([class*="typeDefault"]) {
	margin-left: 0px !important;
	margin-right: -5px !important;
	margin-bottom: -1px !important;
	left: 0px !important 
}
[class*="containerDefault"] [class^="icon"] {
	left: 3px !important;
}
[class*="linkTop"] > [class*="name"] {
	max-width: 155px !important 
}
[class*="actionIcon"] {
	margin-right: 10px !important 
}
[class*="containerDefault"] > [class*="modeUnread"] > div > a > div > div > [class*="icon"],
[class*="containerDefault"] > [class*="modeUnread"] > div > a > div > div > [class*="name"]
{
	color: var(--interactive-active) !important;
}
[class*="containerDefault"] > [class*="modeSelected"] > div > a > div > div > [class*="icon"],
[class*="containerDefault"] > [class*="modeSelected"] > div > a > div > div > [class*="name"],
[class*="modeSelected"] [class*="name"] 
{
	color: var(--interactive-hover) !important;
}
[class*="containerDefault"] > [class*="wrapper"]:hover > div > a > div > div > [class*="icon"],
[class*="containerDefault"] > [class*="wrapper"]:hover > div > a > div > div > [class*="name"]
{
	color: var(--interactive-hover);
}

/* -- Voice Channels --  */
.container-1NXEtd{
	overflow: overlay !important
}
.voiceUserSummary-1IfKg7 {
	margin-right: 10px !important
}
.avatarContainerMasked-PIJ-3L {
	margin: 0px 0px 0px 1px !important
}
.moreUsers-7v8yWY {
	padding: 0px 0px !important
}
.list-2bwCXU {
    padding-left: 15px !important;
    padding-bottom: 4px
}
.listDefault-2y5Z9D .avatarContainer-2inGBK {
    margin-right: 8px !important;
    margin-left: 0px !important;
    width: 32px !important;
    height: 32px !important;
	border-radius: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important
}
.draggable-1KoBzC {
    height: 33px !important;
	border: 1px solid var(--background-hover);
	width: 173px !important
}


/* -- User Account -- */
[class*="accountDetails"] {
	min-width: 42px !important 
}
.unread + .content .foreground,
.unread + .content .background {
	fill: var(--unread-text) !important;
	opacity: 1 !important 
}
[class*="flex"] > [class*="button"],
[class*="customStatus"] > [class*="emoji"],
[class*="activity"] > [class*="emoji"]
{
	max-height: 20px !important;
	max-width: 20px !important 
}
[class*="avatarWrapper"] > [class*="nameTag"] {
	line-height: 18px !important;
	margin-left: 0px !important;
	margin-right: -10px !important 
}
[class*="text-sm-normal"] {
    font-weight: 200 !important;
	font-size: 13px !important
}
[aria-label="User area"] > [class*="container"] {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
	margin-right: 2px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
	z-index: 50 !important
}
[class*="userSettingsSecurityImage"] {
    filter: sepia() hue-rotate(180deg) brightness(120%) contrast(130%) saturate(200%) 
}
[class*="activityPanel"] {
    padding: 5px !important;
    padding-right: 2px !important
}

/* -- Members -- */
[class*="membersWrap"] {
	min-width: 200px !important 
}
[class*="membersWrap"] > [class*="members"] {
	padding-bottom: 90px !important;
	margin-top: 5px !important;
	max-width: 225px !important;
	margin-left: 0px !important 
}
[class*="membersGroup"] {
	text-align: left !important;
    padding: 10px 10px 15px 16px !important;
	margin: -5px 0px -15px -5px !important;
    height: fit-content !important 
}
[class*="membersWrap"] > [class*="members"] > [class*="content"] > [class*="member-"],
[class*="memberInner"] {
	border-radius: 5px !important;
	height: 36px !important;
	margin-left: 10px !important;
	margin: 0px 0 0px 8px !important;
	padding: 0px 0px 0px 0px !important;
}
[class*="memberInner"] > [class*="avatar"] {margin-right:5px !important}
[class*="membersWrap"] > [class*="members"] > [class*="content"] > [class*="member-"] + [class*="membersGroup"] {
	margin-top: -10px !important 
}
[class*="avatarStatus"] {
	height: 20px !important;
    width: 4px !important 
}
[class*="membersWrap"] > [class*="members"] > [class*="content"] > [class*="member-"] > [class*="memberInner"] {
	padding: 0 3px !important;
	height: 36px
}
[class*="subText"] > [class*="activity"] {
    font-size: 12px;
    line-height: 16px;
    color: var(--grey-text);
    font-weight: 500;
}

 /* -- Chat -- */
[id*="message-accessories"] {display: grid;justify-items: left;grid-template-columns: repeat(4, minmax(min-content, max-content)) !important}
[class*="imageDetails"] {max-width: 100% !important}
[class*="imageDetails"] > a {max-width: 100px !important}
[class*="imageDetails"] > * {margin-right: 5px !important}
[class*="imageDetails"] {color:var(--grey-text) !important}
[class*="embedWrapper"] {min-width: 432px !important;}
[id*="message-accessories"] > [class*="reactions"] {grid-column-end: span 4}

[class*="chatContainer"] {
	padding-right: 5px 
}
[class*="messageListItem"] {
	border-bottom: 1px solid var(--background-hover) !important 
}
[data-list-id="chat-messages"] > [class*="divider"]{
    margin: -1px 20px -11px !important;
    padding: 5px !important
}
[data-list-id="chat-messages"] > [class*="divider"] > [class*="content"]{
	font-size: 15px !important;
	line-height: 12px !important;
	font-size: 10px !important;	
	color: var(--unread-text) !important;
	background: transparent !important;
	margin-top: -10px !important
}
[data-list-id="chat-messages"] > [class*="isUnread"]
{
    width: 100.5% !important;
    left: -20px !important 
}
[class*="unreadPill"] 
{
	right:8px !important;
}

/* -- Bigger Emoji -- */
[class*="emojiContainer"] > [class*="emoji"],
[class*="reactionInner"] > div > [class*="emoji"] 
{
    height: 2.45em !important;
    width: 2.45em !important;
	/* margin: -5px 2px -2px !important; */
}
[class*="reaction"] [class*="emoji"]
{
    height: 1.5em !important;
    width: 1.5em !important;
	margin: 0px !important 
}

/* -- Settings -- */
[class*="app"] > div > [class*="layers"] > div:nth-child(2) > div:nth-child(3) > div > [class*="contentRegion"] > div > div > div > main > div > aside > div > div > div {
	width: 255px;
    margin-left: -155px 
}
[class*="contentRegionScroller"]
{
	padding-left: 140px 
}
[class*="sidebarRegion"] > [class*="sidebarRegionScroller"] {
	max-width: 218px !important 
}
[class*="sidebarRegionScroller"] > [class*="sidebar"] {
	padding: 10px 0px 0px 10px !important
}
[class*="contentRegionScroller"] > [class*="sidebar"] {
	width: 218px !important; 
	padding: 6px 6px 0px 6px !important 
}
[class*="side"] > [class*="item"]
{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-bottom: 0px !important;
    border-radius: 5px !important;
}
[class*="side"] [class*="separator"]
{
    margin: 4px 5px;
    height: 1px 
}
[class*="contentTransitionWrap"] > [class*="contentRegionScroller"]
{
	justify-content: center !important;
	width: 100%;
}
[class*="sidebarRegion"] {
	flex: none !important
}
[class*="contentTransitionWrap"] > [class*="contentRegionScroller"] > [class*="contentColumn"]
{
    max-width: 1500px !important;
    min-width: 580px !important;
}
[class*="accountProfileCard"]
{
    max-width: 470px !important
}
[class*="standardSidebarView"]
{
	max-height: 100% !important
}

/* -- Stream Preview Popout -- */
[class*="pictureInPictureWindow"] > [class*="elevationHigh"] {
	box-shadow: none !important;
}
[class*="pictureInPictureWindow"] {
	top: 30px !important;
	left: -160px !important
}
[class*="pictureInPictureWindow"],
[class*="pictureInPictureVideo"] {
	height: 202px !important;
	width: 360px !important
}
[class*="videoControls"] {
	padding: 10px !important
}

/*  -- Remove Useless Text Buttons --  */
button[aria-label="Send a gift"],
button[aria-label="Open GIF picker"],
button[aria-label="Open sticker picker"] {display: none !important}

/* -- Box Avatars -- */
[class*="callAvatarMaskContainer"] > [class*="border"],
[class*="avatar"] > [class*="wrapper"] {border-radius: 0px !important}
foreignObject {mask: none !important; z-index: 5 !important}
[class*="userAvatar"], [class*="avatarSpeaking"], [class*="acronym"], [class*="circleIconButton"], [class*="voiceAvatar"]
{border-radius: 0% !important; clip-path: circle(px)}

/* Better Discord Darkmode Editor */
.bd-fallback-editor{filter: invert(1) brightness(2) !important}
.bd-addon-list.bd-grid-view{grid-template-columns: 30% 30% 30% !important}
#floating-editor-window{min-width: 340px;min-height: 280px;max-height: 1000px;max-width: 1300px}

/*Old Discord Logo*/
[class*="wordmarkWindows"] > svg > g > path {d: path("M4.576 3.141H1v4.087l2.38 2.174V5.435h1.283c.808 0 1.206.402 1.206 1.032V9.5c0 .63-.377 1.054-1.206 1.054H1v2.305h3.576c1.918.01 3.717-.957 3.717-3.196V6.391c0-2.26-1.8-3.25-3.717-3.25zm18.755 6.533V6.326c0-1.206 2.133-1.489 2.78-.272l1.97-.815C27.318 3.511 25.896 3 24.722 3c-1.918 0-3.814 1.13-3.814 3.326v3.348c0 2.206 1.896 3.326 3.77 3.326 1.207 0 2.65-.609 3.448-2.185l-2.112-.989c-.517 1.348-2.682 1.022-2.682-.152zm-6.528-2.891c-.743-.163-1.239-.435-1.271-.903.043-1.13 1.756-1.163 2.758-.087l1.583-1.239C18.883 3.326 17.762 3 16.598 3c-1.756 0-3.458 1-3.458 2.913 0 1.859 1.4 2.848 2.941 3.087.787.109 1.66.424 1.638.978-.065 1.044-2.176.99-3.135-.195l-1.519 1.456C13.959 12.402 15.176 13 16.318 13c1.756 0 3.706-1.033 3.781-2.913.108-2.391-1.594-2.99-3.296-3.304zm-7.207 6.076h2.413V3.14H9.596v9.718zM50.284 3.14h-3.577v4.087l2.38 2.174V5.435h1.272c.808 0 1.206.402 1.206 1.032V9.5c0 .63-.377 1.054-1.206 1.054h-3.663v2.305h3.577c1.917.01 3.716-.957 3.716-3.196V6.391c.011-2.26-1.788-3.25-3.706-3.25zM32.734 3c-1.982 0-3.953 1.098-3.953 3.337v3.326c0 2.228 1.982 3.337 3.975 3.337 1.982 0 3.953-1.109 3.953-3.337V6.337C36.71 4.109 34.718 3 32.735 3zm1.552 6.663c0 .696-.776 1.054-1.54 1.054-.776 0-1.552-.347-1.552-1.054V6.337c0-.717.754-1.098 1.508-1.098.786 0 1.584.348 1.584 1.098v3.326zM45.36 6.337c-.054-2.283-1.584-3.196-3.555-3.196H37.98v9.729h2.446V9.772h.43l2.22 3.087h3.016l-2.607-3.337c1.164-.37 1.875-1.38 1.875-3.185zm-3.512 1.315h-1.422V5.435h1.422c1.53 0 1.53 2.217 0 2.217z") !important;}

/* -- Rainbow Boost -- */
[class*="tierHeaderUnlocked"], [class*="premiumIcon"], [class*="premiumGuildIcon"],[class*="badgeIconWithSubscribers"], [class*="boostedGuildIconGem"], [class*="selectedTier"], [class*="tierMarkerLabelPlusIcon"], [class*="tierMarkerAccomplished"], [class*="barForeground"] [class*="tierMarker"][class*="perksModalContentWrapper"] > div:nth-child(1) > img,
{
  -webkit-animation: rainbow 3s steps(360) infinite 
}

@-webkit-keyframes rainbow {
   from { -webkit-filter:hue-rotate(0deg); }
     to { -webkit-filter:hue-rotate(360deg); }
}

@keyframes rainbow {
 from {
    -webkit-filter:hue-rotate(0deg);
            filter:hue-rotate(0deg);
    }
  to {
    -webkit-filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}
