/** ---- If you want to use my custom Discord CSS then copy this into your custom CSS and modify it as you wish ---- */
/** ---- Anytime stuff in my theme breaks and I notice I'll update the main import css files ---- */
/** ---- You won't need to do anything else once you get this css "installed" ---- */

/* -- This one is required to colorize your discord with the defined colors below -- */
@import "https://gentlepuppet.github.io/css/colors.css";

/* -- This one compresses a lot of stuff -- */
@import "https://gentlepuppet.github.io/css/compact.css";

/* -- This one overrides the font to use Tahoma (The normal font steam primarily uses) for the chat -- */
@import "https://gentlepuppet.github.io/css/steamfont.css";

/* ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ██████╗ ███████╗███████╗██╗███╗   ██╗███████╗██████╗      ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗  │ */
/* │  ██╔══██╗██╔════╝██╔════╝██║████╗  ██║██╔════╝██╔══██╗    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝  │ */
/* │  ██║  ██║█████╗  █████╗  ██║██╔██╗ ██║█████╗  ██║  ██║    ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗  │ */
/* │  ██║  ██║██╔══╝  ██╔══╝  ██║██║╚██╗██║██╔══╝  ██║  ██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║  │ */
/* │  ██████╔╝███████╗██║     ██║██║ ╚████║███████╗██████╔╝    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║  │ */
/* │  ╚═════╝ ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚══════╝╚═════╝      ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝  │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ */
/* -- You may change these to anything you want -- */
/* -- Any Changes will be dynamically applied to yer discord -- */
/* -- Currently these are set to my own purple theme -- */
:root {
	--background-messages: #211938;
	--background-chat-entry: var(--background-textentry);
	--background-servers: #13091d;
	--background-members: #171224;
	--background-user: #211735;
	--background-hover: rgba(44, 32, 73, 0.6);
	--background-dotted-border: #b5a9e9;
	--background-subtle-border: var(--background-messages);
	--background-textentry: #2b1f47;
	--background-text: var(--white-text);
	--background-mentioned-highlight: rgba(145, 129, 241, 0.08);

	--mention-text: #6696e6;
	--mention-text-highlight: rgba(114, 141, 218, .2);

	--new-message-bar: #a472da;
	--new-message-bar-hover: #b877ff;

	--channel-text: #6696e6;
	--channel-text-highlight: rgba(114, 141, 218, .1);
	--channel-text-highlight-hover: rgba(114, 141, 218, 1);

	--unread-text: #ffaa00;
	--white-text: #c5c5c5;
	--grey-text: #6e6e6e;
	--muted-text: #505050;
	--linked-text: #0096cf;
	--failed-text: #ed2727;

	--mention-badge-background: #f04747;
	--mention-badge-text: #ffffff;
	--mention-border: #ffbf00;

	--bot-tag: #7289da;
	--bot-tag-outline: #7289da;
	--bot-tag-text: #fff;

	--settings-primary-card: #2d1b5c;
	--settings-blue: #7289da;

	--profile-notplaying: var(--background-servers);
	--profile-nowplaying: #8765e2;
	--profile-spotify: #2693ff;
	--profile-streaming: #7289da;
	--profile-status-ingame: #43b581;
	--profile-status-streaming: #6f43b8;

	--status-online: #42d690;
	--status-online-mobile: #6e9f2d;
	--status-idle: #faa61a;
	--status-DND: #f04747;

	--premium-icon: #24adff;

	--background-inline-code: #1b1036;
	--inline-code: var(--grey-text);
}

/* ┌────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │  ██████╗ ███████╗███████╗██╗███╗   ██╗███████╗██████╗     ███████╗██╗███████╗███████╗  │ */
/* │  ██╔══██╗██╔════╝██╔════╝██║████╗  ██║██╔════╝██╔══██╗    ██╔════╝██║╚══███╔╝██╔════╝  │ */
/* │  ██║  ██║█████╗  █████╗  ██║██╔██╗ ██║█████╗  ██║  ██║    ███████╗██║  ███╔╝ █████╗    │ */
/* │  ██║  ██║██╔══╝  ██╔══╝  ██║██║╚██╗██║██╔══╝  ██║  ██║    ╚════██║██║ ███╔╝  ██╔══╝    │ */
/* │  ██████╔╝███████╗██║     ██║██║ ╚████║███████╗██████╔╝    ███████║██║███████╗███████╗  │ */
/* │  ╚═════╝ ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚══════╝╚═════╝     ╚══════╝╚═╝╚══════╝╚══════╝  │ */
/* └────────────────────────────────────────────────────────────────────────────────────────┘ */
/* -- You may change these to anything you want -- */
:root {
	--channels-width: 200px;
	--members-width: 200px;
}
